<h3>{{text}}</h3>
{{#if post.length}}
    <ul class="collection">
        {{#each post}}
            <li class="collection-item"><a href="#" class="collection-item">
                <p>{{text}}</p><span>{{author}}</span><span>{{createData}}</span></a>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>Нет постов</p>
{{/if}}